@charset "utf-8";
/* CSS Document linked to about page and home page */
@font-face { font-family: Samuel; src: url('Samuel.ttf'); } 
      h1 {
         font-family:Samuel;
      }
      @font-face { font-family: Alte; src: url('Alte.ttf'); } 
.bottombar{
			background-color: black;
			height: 4%;
			width: 100%;
		}
a{
	text-decoration: none;
}
p {
    font-family:Alte;
    color:OldLace;
	  font-size:clamp(15px,3vw,30px)
  }
h1{
	font-family: Samuel;
	display: inline-block;
}
.bar{
	  height:2%;
	  width:100%
  }
